header{
    width: 100%;
    padding: 2;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    
    

    
}
#logo{
font-size: small;
padding-bottom: 1%;
padding-top: 1%;
padding-left: 6%;
width: 20%;
display: flex;
}

nav{
width: 70%;
}

nav ul{
    padding-right: 6%;
    display: flex;
    color: white;
    list-style: none;
    justify-content: flex-end;
}

nav ul li{
margin-left: 20px;
}



@media(max-width:768px){
    header{
        display: flex;
        justify-content: flex-end;

        .menu-button {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 40px;
            height: 30px;
            padding: 10px;
            margin-right: 12px;
            background-color: white;
            
        }
        
        .bar {
            height: 5px;
            width: 100%;
            background-color: red;
            transition: all 0.3s ease;
        }
        
        .bar:hover {
            background-color: red;
        }

        nav ul li{
            display: none;
        }
    }
}

#sixteen{
color: white;
}

#clothing{
color: red;

}