body{
    font-family: 'Poppins', sans-serif;

}
.header1 {
    width: 100%;
    padding: 2;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: small;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 6%;
    width: 20%;
    display: flex;
}

nav {
    width: 70%;
}

nav ul {
    padding-right: 6%;
    display: flex;
    color: white;
    list-style: none;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

#home{
    border-bottom: 1px solid #f33f3f;
}


#background_slide{
    background-image: url('/img/slide_01.jpg');
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 25rem;
    }
    
    
    #text1_slide{
        color: #f33f3f;

    
    }
    #text2_slide{
        color: #ffff;
        font-size: 1.6rem;
    }
    





#about_tittle{
    border-bottom: 2px solid #f7f7f7;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 28.8px;
}
#subtittle{
    color: #1a6692;
  
    font-weight: bold; 
}
#corpo_about{
   display: flex;
   text-decoration-line: none;
   justify-content: space-evenly;
   
}
a{
    text-decoration: none;
    color: #007bff;
}
#big_div{
    margin: 2%;
}
#text_about{
    margin-right: 5%;
}
ul{
    list-style-type: square;
}
button{
    background-color: #f33f3f;
    color: #ffff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin-top: 30px;
}
#image_about{
    text-align: end;
    width: 1000px;
}
.responsive {
    max-width: 100%; 
    height: auto; 
}






#sixteen {
    color: white;
}

#clothing {
    color: red;
}








.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.header-title {
    margin-top: 20px;
    font-size: 22px;
    line-height: 26.4px;
    color: #121212;
    margin-bottom: 0;
}

.view-all {
    
    font-size: 18px;
    line-height: 21.6px;
    color: #f33f3f;
    text-decoration: none;
    font-weight: bold;
}

.view-all:hover {
    text-decoration: underline;
}

.products-section {
    padding: 20px;
    text-align: center;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    background-color: #f9f9f9;
    margin: 10px;
    width: 30%;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.product-title {
    
    font-size: 18px;
    line-height: 21.6px;
    color: #1a6692;
    margin: 0;
}

.product-price {
    
    font-size: 18px;
    line-height: 21.6px;
    color: #000000;
    margin-left: 10px;
}

.product-description {
    
    font-size: 16px;
    line-height: 24px;
    color: #212529;
    text-align: justify;
    margin: 20px 0;
    padding: 0 15px;
}

.star-rating {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 15px;
    
    line-height: 24px;
    color: #f33f3f;
}



#pai{
    display: flex;
    background-color: #f7f7f7;
    color: #1a6692;;
    flex-direction: column;
    padding: 20px;
    
    }
    
    nav{
        
        color: white;
    }
    
        #purchase {
            align-items: center;
            display: flex;
            padding: 0.75rem 1.5rem;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            justify-content: end;
          }
          button{
            background-color:red;
            border-style: none;
            border-radius: 3px;
            padding: 10px;
            color: white;
          }
        
          #lorem{
            color: #212529;
          }
    
         #fim{
        display: flex;
         align-items: center;
         justify-content: center;
         
         }
    
         #tem{
            color: red;
         }

        
         
         
    


         @media (max-width: 768px) {
            .stars{
                font-size: 0.8rem;
            }
        
            header {
                display: flex;
                justify-content: flex-end;
            }
        
            .menu-button {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 40px;
                height: 30px;
                padding: 10px;
                margin-right: 12px;
                background-color: white;
            }
        
            .bar {
                height: 5px;
                width: 100%;
                background-color: red;
                transition: all 0.3s ease;
            }
        
            .bar:hover {
                background-color: red;
            }
        
            nav ul li {
                display: none;
            }
        
            .product-card {
                width: 100%;
            }
            .header {
                display: flex;
                flex-direction: column;
                justify-content: left;
                align-items: flex-start;
            }
        
            #corpo_about{
                display: flex;
                flex-direction: column;
            }
            #image_about{
                align-items: left;
                justify-content: left;
                text-align: left;
                width: 20rem;
                margin-top: 30px;
            }
        
            #pai{
                display: flex;
                flex-direction: column;
            }
            #purchase{
                justify-content: center;
            }
        }
        